@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
section{
  text-align:center;
}


.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 5em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 20em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
  color: white;
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}

body.sm-activate {
  overflow: hidden;
}
html {
  height: 100%;
}

body {
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
}
.page1{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://data.1freewallpapers.com/download/female-lion-1366x768.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  text-align: center;
  margin: 0;
  height: 100%;
  border-bottom: 12px;
  border-bottom-color: white;
  border-bottom-style: solid;
}
.snitch{
  border-right: 1px;
  border-right-color: white;
  border-right-style: solid;
}
.page2 {
  background-color: rgb(249, 239, 234)inherit;
  border-bottom: 12px;
  border-bottom-color: white;
  border-bottom-style: solid;
}
.page3{
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://s-media-cache-ak0.pinimg.com/originals/d5/43/f7/d543f71d60495a7056fbd7e4d0ad2e5f.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
  border-bottom: 12px;
  border-bottom-color: white;
  border-bottom-style: solid;
}
.page4{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://wallpaperscraft.com/image/lion_mane_eyes_waiting_big_cat_carnivore_king_of_beasts_53074_3840x2160.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
  border-bottom: 12px;
  border-bottom-color: white;
  border-bottom-style: solid;

}


.img-circle {
    border-radius: 60%;
    border-color: grey;
    border-width: thick;
}

.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1, h2 {
  width: 100%;
  float: left;
}

h1 {
  margin-top: 10px;
  color: #25282d;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 70px;
}

h2 {
  letter-spacing: 1px;
  color: #6b6a6a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointer {
  color: #00B0FF;
  font-family: 'Pacifico';
  font-size: 24px;
  margin-top: 15px;
  position: fixed;
  top: 62px;
  left: 25px;
}

pre {
  margin: 80px auto;
}

pre code {
  padding: 35px;
  border-radius: 5px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.05) 5px solid;
  max-width: 500px;
}
* {
  box-sizing: border-box;
}

.head{
  border-top: 1px;
  border-top-color: white;
  border-top-style: solid;
  border-bottom: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  right: -1%
}

.main h1 {
  padding: 20px 50px 10px;
  float: left;
  width: 100%;
  font-size: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  margin: 0;
  padding-top: 25px;
  font-family: 'open sans';
  text-transform: uppercase;
}

.main h1.demo1 {
  background: #1ABC9C;
}

.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}

.reload, .btn {
  display: inline-block;
  border: 4px solid #A2261E;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #CC3126;
  display: inline-block;
  line-height: 100%;
  padding: 1em;
  text-decoration: none;

  width: 100px;
  line-height: 140%;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: open sans;
}

.reload:hover {
  background: #A2261E;
}

.btn {
  width: 230px;
  color: #fff;
  border: none;
  margin-left: 10px;
  background: #2186B8;
}

.clear {
  width: auto;
}


.btns {
  width: 410px;
  margin: 50px auto;
}

.credit {
  text-align: center;
  color: #fff;
  padding: 10px;
  font-weight: 100;
  text-transform: capitalize;
  font-style: italic;
  font-size: 14px;
  margin: 0 0 60px 0;
  float: left;
  width: 100%;
  letter-spacing: 1px;
}

.credit a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #86B4CC;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.back:hover {
  background: rgba(255, 255, 255, 0);
}

body .sm-button {
  position: relative;
  top: 0;
  right: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
  z-index: 10;
}

.page-container {
  min-height: 300px;
}

.sm-nav:nth-child(2) {
  background: rgba(0, 0, 0, 0.8);
}

.sm-nav:nth-child(1) {
  background: rgba(255, 255, 255, 0.8);
}

.sm-menu .sm-nav:nth-child(2) .nav-inner>a {
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.circular-image {
  border-radius: 60%;
  height: 90px;
}
.projects{
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 10px;
    margin-bottom: 10px;

    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 20px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  .opaque-navbar {
    background-color: black;
    height: 10px;
    transition: background-color .5s ease 0s;
}

}
.newProject {
  padding: 20%
}
.projectImage{
  border-width: 1px;
}
.demo-3 {
    position:relative;
    width:500px;
    height:500px;
    overflow:hidden;
    float:left;
    margin-right:20px
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
.skills{
  margin-top: 5%
}
.skills::before,
.skills::after {
    display: inline-block;
    content: "";
    width: 20rem;
    border-top: .1rem solid white;
    margin: 0 1rem;
    transform: translateY(-1rem);
}
